<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>


    <!-- compiled css output -->
    <link href="css/ionic.app.css" rel="stylesheet">

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>

    <!-- fonts -->
    <script src="//use.typekit.net/gdu1kdg.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
  </head>
  <body ng-app="starter" ng-controller="SermonCtrl">

    <ion-tabs class="tabs-positive tabs-icon-only">

        <ion-tab title="Sermons" icon-on="ion-ios-monitor" icon-off="ion-ios-monitor-outline">
             <ion-pane>
                <ion-header-bar class="bar-stable">
                    <h1 class="title tk-seravek-web">Sermon Videos</h1>
                </ion-header-bar>
                <ion-content>
                    <ion-refresher
                        pulling-text="Pull to refresh..."
                        on-refresh="doRefresh()">
                    </ion-refresher>
                    <ion-list>
                        <ion-item ng-repeat="sermon in sermons">
                            <a href="#" ng-click="openVideo('http://www.compasshb.com/sermons/' + sermon.slug)" class="sermon-item">
                            <div class="cover-image" style="background-image: url('{{ sermon.cover }}');"></div>
                            <h2><strong>{{ sermon.title }}</strong></h2>
                            <p>{{ sermon.text }}<br/>{{ sermon.byline }}<br/>{{ sermon.date }}</p>
                            </a>
                        </ion-item>
                    </ion-list>
                </ion-content>
            </ion-pane>
        </ion-tab>

      <ion-tab title="About" icon-on="ion-ios-chatboxes" icon-off="ion-ios-chatboxes-outline" ng-click="openVideo('http://www.compasshb.com/read')">
        <p>Scripture of the Day</p>
      </ion-tab>

    </ion-tabs>

  </body>
</html>
