<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
  </head>
  <body ng-app="starter" ng-controller="SermonCtrl">

    <ion-tabs class="tabs-positive tabs-icon-only">

        <ion-tab title="Sermons" icon-on="ion-ios-mic" icon-off="ion-ios-mic-outline">
             <ion-pane>
                <ion-header-bar class="bar-stable">
                    <h1 class="title">Sermons</h1>
                </ion-header-bar>
                <ion-content>
                    <ion-list>
                        <ion-item ng-repeat="sermon in sermons">
                            <a href="#" ng-click="openVideo('sermons/' + sermon.slug)">
                            <img src="{{ sermon.cover }}" style="float: left; height: 60px; padding: 5px;">
                            <h2>{{ sermon.title }}</h2>
                            <p>{{ sermon.text }}<br/>{{ sermon.byline }}<br/>{{ sermon.date }}</p>
                            </a>
                        </ion-item>
                    </ion-list>
                </ion-content>
            </ion-pane>
        </ion-tab>

      <ion-tab title="About" icon-on="ion-ios-calendar" icon-off="ion-ios-calendar-outline" ng-click="openVideo('read')">
            <ion-pane>
                <ion-header-bar class="bar-stable">
                    <h1 class="title">Scripture of the Day</h1>
                </ion-header-bar>
                <ion-content>
                    <p>SOTD</p>
                </ion-content>
            </ion-pane>
      </ion-tab>

    </ion-tabs>

  </body>
</html>
